%a.new_post{href: new_admin_post_url}
  %i.icon-file
  Create New Post


.grid-b
  .cell-a
    %h3 Published
    %ul.post-list
      - @published_posts.each do |post|
        %li
          %a{href: edit_admin_post_url(post), class: 'edit-post'}
            %h4
              %i.icon-edit
              =post.title
    = link_to 'more', '#', class: '.more-published'

  .cell-b
    %h3 Drafts
    %ul.post-list
      - @draft_posts.each do |post|
        %li
          %a{href: edit_admin_post_url(post), class: 'edit-post'}
            %h4
              %i.icon-edit
              = post.title
    = link_to 'more', '#', class: '.more-drafts'