%h1 BLOG
%ul
  - @posts.each do |post|
    %li
      %h3= link_to post.title, post_url(post)
      %p= post.processed_content

- if next_page = Post.next_page(current_page: params[:page])
  .more= link_to 'More Posts', posts_url(page: next_page, per_page: next_page * 5, cumulative: true)